@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
}

/**
* Entête de page
*/

.menu{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}

.logo{
    text-decoration: none;
    color: black;
    font-size: 2.5rem;
}

.logo span{
    color: orange;
}

header img{
    height: 450px;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

header nav ul li a{
    text-decoration: none;
    color: grey;
}

header nav ul li a:hover{
    color: darkred;
}

header section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header section p{
    color: grey;
}

header section div h1{
    font-size: 3.5rem;
}

/**
* Corps de la page
*/

body{
    background-color: rgba(241, 231, 231, 0.801);
}

.title{
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

.title p{
    color: #999999;
}

main img{
    height: 350px;
    box-shadow: 10px 10px #999999;
}

/*
* Cartes
*/

main section div div p{
    color: #999999;
}

.first{
    display: flex;
    text-align: right;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.first div{
    margin-right: 20px;
}

.second{
    display: flex;
    text-align: left;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.second div{
    margin-left: 20px;
}

.third{
    display: flex;
    text-align: right;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.third div{
    margin-right: 20px;
}

/*
* Lien "Read More"
*/

main section a{
    text-decoration: none;
    color: white;
    background-color: #999999;
    padding: 10px;
    border-radius: 20px;
}

main section a:hover{
    background-color: black;
}

/*
** Bas de page
*/

footer{
    text-align: center;
    color: white;
    background-color: #4a4a4b;
    padding: 15px;
    margin: 15px;
}