body{
    font-family: 'Open Sans', sans-serif;
}

/**
* Entête de page
*/

header img{
    height: 350px;
}

header nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

header nav ul li a{
    text-decoration: none;
    color: grey;
}

header nav ul li a:hover{
    color: darkred;
}

header section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header section p{
    color: grey;
}

/**
* Corps de la page
*/

body{
    background-color: rgba(241, 231, 231, 0.801);
}

.title{
    text-align: center;
}

main img{
    height: 350px;
    box-shadow: 10px 10px lightblue;
}

/*
* Cartes
*/

.first{
    display: flex;
    text-align: right;
    align-items: center;
    margin-right: 30px;
}

.first div{
    margin-right: 20px;
}

.second{
    display: flex;
    text-align: left;
    align-items: center;
    margin-left: 30px;
}

.second div{
    margin-left: 20px;
}

.third{
    display: flex;
    text-align: right;
    align-items: center;
    margin-right: 30px;
}

.third div{
    margin-right: 20px;
}

/*
* Lien "Read More"
*/

main section a{
    text-decoration: none;
    color: white;
    background-color: lightblue;
    padding: 7px;
    border-radius: 4px;
}

main section a:hover{
    background-color: black;
}